__pycache__
.idea
.ipynb_checkpoints
*.egg-info
*.pyc
*.orig
*.avi
.env
package*.json

artifacts
deployments
contract/artifacts/ModicumV2_metadata.json
contract/artifacts/ModicumV2.json
contract/artifacts/ModicumV2.json
videos/
frames/
deployments
node_modules
faster_rcnn_inception_v2_coco_2018_01_28
faster_rcnn_inception_v2_coco_2018_01_28.tar.gz
nomadic-line-311316-d1c330d3ad79.json
influx_cfg.py
temp/
MV2/secrets

